@using System.Reflection
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/" />
        <link rel="stylesheet" href="app.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        @* ReSharper disable Html.PathError *@
        <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="OmmelSamvirke.EmailTemplatePreviewGUI.styles.css?v=@Version"/>
        @* ReSharper restore Html.PathError *@
        <HeadOutlet @rendermode="InteractiveServer"/>
        <title>OmmelSamvirke Email Previewer</title>
    </head>
    <body>
        <Routes @rendermode="InteractiveServer"/>
        @* ReSharper disable Html.PathError *@
        <script src="_framework/blazor.web.js"></script>
        <script src="_content/MudBlazor/MudBlazor.min.js"></script>
        @* ReSharper restore Html.PathError *@
    </body>
</html>

@code {
    private static long? _version;
    public static long Version
    {
        get
        {
            _version ??= GetAssemblyFileDate();
            return (long)_version;
        }
    }
    
    private static long GetAssemblyFileDate()
    {
        var assembly = Assembly.GetExecutingAssembly();
        FileInfo fi = new(assembly.Location);
        return fi.LastWriteTime.Ticks;
    }
}