<!DOCTYPE html>
<html lang="da">
<head>
    <title>[Critical] Ommel Samvirke experienced a critical error</title>
</head>
<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; padding: 16px;">
    <h3 style="margin: 0">A critical error was logged at {{Timestamp}}UTC</h3><br />

    <b>Custom Message:</b> {{CustomMessage}}<br /><br />
    
    <b>Exception Type:</b> {{ExceptionType}}<br />
    <b>Exception Message:</b> {{ExceptionMessage}}<br /><br />

    <b>Stack Trace:</b> {{StackTrace}}
</body>
</html>