<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Bekræft din tilmelding til Ommel Samvirkes nyhedsbrev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
{{>header}}

<div style="max-width: 700px; font-family: 'Roboto', Arial, Helvetica, sans-serif; margin: 0 auto; border: 1px solid #d6d6d6; background: white; padding: 20px;">
    <p style="line-height: 24px; font-size: 16px;">
        Tak for din tilmelding til vores nyhedsbrev hos Ommel Samvirke. For at bekræfte din tilmelding, bedes du klikke på knappen nedenfor:
    </p>

    <p style="text-align: center; margin: 40px 0;">
        <a href="{{ConfirmationLink}}" target="_blank" style="background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; font-size: 16px; border-radius: 5px;">
            Bekræft min tilmelding
        </a>
    </p>
    
    <p style="line-height: 24px; font-size: 16px;">
        <strong>Bemærk:</strong><br>
        Hvis vi ikke modtager din bekræftelse inden for 7 dage, udløber din forespørgsel, og du skal tilmelde dig igen.
    </p>
    
    <p>
        Med venlig hilsen,<br>
        Ommel Samvirke
    </p>
</div>

{{>footer}}
</body>
</html>
