<!DOCTYPE html>
<html lang="da" style="font-family: 'Roboto', Arial, Helvetica, sans-serif">
<head>
    <title>Nyhedsbrev fra Ommel Samvirke</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; font-family: Arial, Helvetica, sans-serif; background: #f4f4f4">

{{>header}}

<div style="max-width: 700px; font-family: 'Roboto', Arial, Helvetica, sans-serif; margin: 0 auto; border: 1px solid #d6d6d6; background: white; padding: 20px;">
    <p style="line-height: 24px; font-size: 16px;">
        {{NewsletterContent}}
    </p>

    {{>no-reply}}
    <p style="line-height: 22px; font-size: 14px">
        Ønsker du ikke længere at modtage nyhedsbreve fra Ommel Samvirke?<br />
        Klik <a href="https://www.ommelsamvirke.com/afmeld-nyhedsbreve" target="_blank">her</a> for at afmelde ét eller flere nyhedsbreve.
    </p>
</div>

{{>footer}} 

</body>
</html>
